[submodule "src/userplugins/GlobalBadges"]
	path = src/userplugins/GlobalBadges
	url = https://github.com/Domis-Vencord-Plugins/GlobalBadges.git
[submodule "src/userplugins/vc-spotifylyrics"]
	path = src/userplugins/vc-spotifylyrics
	url = https://github.com/Masterjoona/vc-spotifylyrics.git
[submodule "src/userplugins/bigFileUpload"]
	path = src/userplugins/bigFileUpload
	url = https://github.com/ScattrdBlade/bigFileUpload.git
[submodule "src/userplugins/HolyNotes-VC"]
	path = src/userplugins/HolyNotes-VC
	url = https://github.com/WolfPlugs/HolyNotes-VC.git
